<div class="jumbotron min-30">
  <div class="card border-dark min-30 mb-3">
    <div class="card-header header-text bg-dark">
      Food Search
    </div>
    <div class="container">
      <div class="row">
        <div class="offset-sm-2 col-sm-8">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="food"
              style="border-radius: .25rem;"
              placeholder="Search nutrition information by food"
            />
            <span class="input-group-btn">
              <button
                class="btn btn-dark"
                type="button"
                (click)="search()"
                style="margin-left: 20px;"
              >
                Search
              </button>
            </span>
          </div>

          <div
            class="card text-white bg-dark mb-3 center"
            *ngIf="showNutrition"
            style="margin-top: 25px;"
          >
            <div class="card-body" style="margin-bottom: 10px">
              <table class="table table-dark">
                <tbody>
                  <tr>
                    <th
                      colspan="2"
                      class="text-center"
                      style="padding: 25px 0;font-size:20px; font-weight: 500"
                    >
                      <span id="food-name">
                        {{ nutrition.name }}
                      </span>
                      <img
                        src="../../assets/images/speak.png"
                        width="20"
                        height="20"
                        style="margin-left: 10px; margin-top: 5px"
                        class="d-inline-block align-top"
                        alt="Speak Text"
                        onClick="speak()"
                      />
                    </th>
                  </tr>
                  <tr>
                    <td class="td-left">Calories</td>
                    <td class="td-right text-center">
                      {{ nutrition.calories }}
                    </td>
                  </tr>
                  <tr>
                    <td class="td-left">Serving Weight</td>
                    <td class="td-right text-center">
                      {{ nutrition.serving }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
